:root {
  --turq: rgb(100, 216, 177);
  --turq7: rgba(100, 216, 177, 0.7);
  --turq5: rgba(100, 216, 177, 0.5);
  --turq3: rgba(100, 216, 177, 0.3);
  --turq1: rgba(100, 216, 177, 0.1);
  --purp: rgb(131, 65, 216);
  --purp7: rgba(131, 65, 216, 0.7);
  --purp5: rgba(131, 65, 216, 0.5);
  --purp3: rgba(131, 65, 216, 0.3);
  --purp1: rgba(131, 65, 216, 0.1);

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}

html, body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: lightskyblue;
}